.additional-product {
  padding-bottom: 17px;
  border-bottom: 1px solid $border-grey-light;

  @media (min-width: $tablet-width) {
    padding: 24px 37px 25px;
    border-color: $input-border-hover-grey;

    &:nth-child(2) {
      padding-top: 26px;
      padding-bottom: 28px;
    }

    &:nth-child(3) {
      padding-bottom: 27px;
    }

    &:nth-child(4) {
      padding-bottom: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 40px;
    align-items: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 15px;

    &:nth-child(n+2) {
      padding-top: 16px;
      padding-bottom: 15px;
    }
  }
}

.additional-product:first-child {
  border-top: 1px solid $border-grey-light;

  @media (min-width: $desktop-width) {
    border-color: $input-border-hover-grey;
  }
}

.additional-product:last-child {
  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $input-border-hover-grey;
  }
}

.additional-product__information {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 80px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-product__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 11px;
  padding-top: 13px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product__link {
  color: $special-darkest-grey;

  &:active {
    color: rgba($special-darkest-grey, 0.3);
  }
}

.additional-product__price {
  width: 100%;
  margin-left: -2px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    max-width: 320px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 289px;
  }
}

.additional-product__button {
  display: inline-block;
  width: 100%;
  padding: 10px 44px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 244px;
    padding: 10px 20px;
  }
}
