.additional-products__wrapper {
  position: relative;
  padding-top: 28px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 2px;
    top: 44px;
    left: 0;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding-top: 70px;

    &::before {
      top: 90px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    padding-bottom: 86px;

    &::before {
      top: 35px;
    }
  }
}

.additional-products__title {
  display: inline-block;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 23px;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 36px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;

    &::before {
      width: calc(100vw + 148px);
      top: calc(50% + 3px);
      margin-right: -50vw;
      margin-left: -50vw;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.additional-products__content {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.additional-products__list {
  @include no-list;

  @media (min-width: $tablet-width) {
    border: 1px solid $input-border-hover-grey;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-right: 79px;
    border: none;
  }
}
