.address {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 28px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding: 66px 41px 57px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 66px 76px 60px;
    box-sizing: border-box;
    background-color: $basic-white;
  }
}

.address__title {
  max-width: 30%;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 30%;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
  }
}

.address__text {
  max-width: 50%;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    max-width: 30%;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    max-width: 38%;
    padding-right: 10px;
    text-align: left;
  }
}

.address__text span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 20px;
  }
}
