.address--catalog,
.address--form {
  background-color: $basic-grey;
}

.address__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  padding: 28px 20px 22px;
}

.address__title {
  width: 50%;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__text {
  width: 50%;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", "Oswald", sans-serif;
}
