.button {
  border: none;
  background-color: $basic-green;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: $basic-white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basic-green-dark;
    outline: none;
  }

  &:active {
    background-color: $basic-green-dark;
    color: rgba($basic-white, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
