.button {
    text-transform: uppercase;
    color: $basic-white;
    background-color: $basic-green;
    border: none;
    &:hover,
    &:focus {
        background-color: $basic-green-dark;
        outline: none;
    }
    &:active {
        color: rgba($basic-white, 0.3);
        background-color: $basic-green-dark;
    }
}
