.contacts {
  background-color: $basic-white;

  &--catalog,
  &--form {
    background-color: $basic-grey;

    @media (min-width: $desktop-width) {
      background-color: $basic-white;
    }
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__address {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.contacts__map {
  width: 100%;
  min-height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    min-height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-map-desktop@2x.png");
    }
  }
}
