.container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    box-sizing: border-box;
  }
}
