.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }

  & svg {
    width: 40px;
    height: 40px;
    margin-right: -6px;
    fill: $icon-grey;
  }

  &:hover svg,
  &:focus svg {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 164px;
    padding: 0;
  }
}

.copyright__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", "Verdana", sans-serif;
  color: $basic-black;
}
