.example {
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: transparent;
    min-height: 1081px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 462px;
      bottom: 0;
      left: 0;
      background-color: $background-grey;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 656px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 462px;
      bottom: 0;
      left: 0;
      background-color: $background-grey;
    }
  }
}

.example__wrapper {
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 60px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 435px;
    margin-bottom: 69px;
  }
}

.examle__statistics {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 73%;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.example__item {
  position: relative;
  display: inline-block;
  width: 44%;
  margin-bottom: 7px;
  padding-top: 14px;
  padding-bottom: 16px;
  border: 1px solid $input-border-hover-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 161px;
    margin-right: 40px;
    padding-bottom: 20px;
  }
}

.example__item:last-child {
  margin-right: 0;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  display: inline-block;
  position: absolute;
  bottom: -16px;
  left: calc(50% - 39.5px);
  margin: 0;
  width: 77px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Verdana", sans-serif;
  text-align: center;
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    bottom: -5px;
    left: calc(50% - 64px);
    width: 130px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-grey;
  }
}

.example__total {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 27%;
    padding-top: 8px;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
    text-align: left;
  }
}

.example__total span {
  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.example__slider {
  text-align: center;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 47%;
  }
}
