.example {
  background-color: $background-grey;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 33px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  row-gap: 10%;
  margin: 0;
  margin-bottom: 27px;
}

.example__item {
  display: inline-block;
  width: 45%;
}

.example__value {
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.example__desc {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example__total {
  margin: 0;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
