.example {
    background-color: $background-grey;
}

.example__wrapper {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
}

.example__title {
    margin: 0;
    padding-top: 27px;
    margin-bottom: 33px;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
}

.example__text {
    margin: 0;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.example__list {
    margin: 0;
    margin-bottom: 27px;
}

.example__value {
    font-size: 24px;
    line-height: 24px;
}

.example__desc {
    font-size: 12px;
    line-height: 12px;
}

.example__total {
    margin: 0;
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 20px;
}
