.fieldset-text {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid $border-fieldset-grey;

  &--cat {
    padding-bottom: 22px;
  }

  &--owner {
    border: none;
  }
}

.fieldset-text__legend {
  margin-bottom: 32px;
  padding-top: 26px;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}

.fieldset-text__list {
  display: grid;
  row-gap: 13px;

  @include no-list;
}

.fieldset-text__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldset-text__name {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.fieldset-text__input {
  flex-grow: 1;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid $input-border-grey;
  appearance: textfield;

  &:hover {
    border-color: $input-border-hover-grey;
  }

  &:focus {
    outline: none;
    border-color: $special-dark-grey;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.fieldset-text__input,
.fieldset-text__input::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  color: $special-dark-grey;
}
