.fieldset-radio {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-radio__wrapper {
  padding: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
    margin-right: 68px;
    padding-top: 25px;
    padding-bottom: 22px;
    border: 1px solid $input-border-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.fieldset-radio__list {
  display: grid;
  row-gap: 13px;

  @include no-list;

  @media (min-width: $tablet-width) {
    row-gap: 11px;
  }
}

.fieldset-radio__item {
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 68px;
  }
}

.fieldset-radio__label {
  cursor: pointer;
}

.fieldset-radio__name {
  display: inline-block;
  padding: 6px 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-darkest-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
