.fieldset-radio {
  margin: 0;
  padding: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 23px 28px;
    border: 1px solid $input-border-grey;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
  }
}

.fieldset-radio__list {
  display: grid;
  row-gap: 13px;

  @include no-list;
}

.fieldset-radio__item {
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.fieldset-radio__label {
  cursor: pointer;
}

.fieldset-radio__name {
  display: inline-block;
  padding: 6px 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-darkest-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
