.fieldset-text {
  margin: 0;
  padding: 0 20px;
  border: none;

  &--cat {
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 23px;
    border-bottom: 1px solid $border-nav-grey;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.fieldset-text__legend {
  max-width: 205px;
  margin-bottom: 32px;
  padding-top: 26px;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
  }
}

.fieldset-text__list {
  display: grid;
  row-gap: 13px;

  @include no-list;

  @media (min-width: $tablet-width) {
    row-gap: 16px;
  }
}

.fieldset-text--owner .fieldset-text__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.fieldset-text__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldset-text__name {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset-text__input {
  flex-grow: 1;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid $input-border-grey;
  appearance: textfield;

  &:hover {
    border-color: $input-border-hover-grey;
  }

  &:focus {
    outline: none;
    border-color: $special-dark-grey;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  @media (min-width: $tablet-width) {
    padding-left: 25px;
    padding-top: 10px;
  }
}

.fieldset-text__input,
.fieldset-text__input::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
