.form-program {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0;
  }
}

.form-program__fieldset {
  &:first-child,
  &:nth-child(2) {
    border-bottom: 1px solid $border-nav-grey;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &:nth-child(n+3) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 2px;
      top: 41px;
      left: 0;
      background-color: $basic-green;

      @media (min-width: $tablet-width) {
        top: 48px;
      }

      @media (min-width: $desktop-width) {
        top: 52px;
        right: 50%;
        left: 50%;
        width: calc(100vw - 10px);
        height: 2px;
        margin-right: -50vw;
        margin-left: -50vw;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3)::before {
      top: 94px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    &:first-child {
      margin-bottom: 70px;
    }

    &:nth-child(2) {
      margin-bottom: 49px;
    }

    &:nth-child(3) {
      margin-bottom: 38px;
    }

    &:nth-child(4) {
      margin-bottom: 38px;
    }

    &:nth-child(5) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n+3) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &:first-child,
    &:nth-child(2) {
      margin-bottom: 0;
    }

    &:nth-child(5) {
      margin-bottom: 30px;
    }
  }
}

.form-program__footer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
  }
}

.form-program__button {
  display: inline-block;
  width: 100%;
  margin-bottom: 21px;
  padding: 9px 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin: 0;
    margin-left: 40px;
    margin-right: 65px;
    padding: 16px 20px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-left: 0;
    margin-right: 80px;
  }
}

.form-program__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-family: "Arial", "Verdana", sans-serif;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}
