.instruction__wrapper {
  padding-top: 6px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 47px;
    border-bottom: 1px solid $border-nav-grey;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 11px;
    border: none;
  }
}

.instruction__title {
  margin: 0;
  margin-bottom: 38px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    font-size: 60px;
    line-height: 60px;
  }
}

.instruction__list {
  display: grid;
  row-gap: 20px;

  @include no-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 37px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.instruction__item {
  position: relative;
  min-height: 60px;
  padding-top: 3px;
  padding-left: 80px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Verdana", sans-serif;
  color: $special-dark-grey;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
  }

  &--nutrients::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--release::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--food::after {
    left: 4px;
    background-image: url("../img/advantage-dining@1x.png");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--changes::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 280px;
    padding: 0;
    padding-top: 154px;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      top: 42px;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 57px;
      left: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

/*  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 154px;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}*/
