.main-nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    &,
    &--nojs {
      display: block;
    }

    &--closed {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__list {
  @include no-list;
}

.main-nav__list a {
  color: $basic-black;
}
