.page-header {
  color: $basic-black;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 66px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    min-height: 80px;
    width: 708px;
    padding: 24px 30px 0;
    box-sizing: content-box;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    width: 1220px;
    padding: 53px 80px 0;
  }
}

.page-header__logo {
  display: block;
  min-height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
  }
}
