.price {
  border-collapse: collapse;
  table-layout: fixed;
}

@media (min-width: $tablet-width) {
  .price__item {
    padding-top: 5px;
  }
}

.price__quantity {
  width: 70%;

  @media (min-width: $tablet-width) {
    width: 71%;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.price__value {
  width: 30%;
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 29%;
  }
}
