.products__wrapper {
  width: 320px;
  margin: 0 auto;
}

.products__title {
  margin: 0;
  padding: 27px 20px 41px;
  border-top: 1px solid $border-grey-light;
  border-bottom: 1px solid $border-grey-light;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.products__list {
  @include no-list;
  margin-bottom: 20px;
}
