.product {
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
    background-color: $basic-grey;
  }
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 18px 20px 24px;

  @media (min-width: $tablet-width) {
    position: relative;
    align-items: center;
    padding: 161px 37px 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 163px;
  }
}

.product__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-bottom: 35px;
    padding: 0;
  }
}

.product__image-link {
  margin-top: -18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -28px;
    margin-right: -20px;
    margin-left: -20px;

    &--big {
      top: -55px;
    }
  }
}

.product__information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    align-items: center;
  }
}

.product__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 14px;
  padding-right: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    padding: 0 45px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    padding: 0;
    line-height: 22px;
  }
}

.product__link {
  color: $special-darkest-grey;
}

.product__button {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 248px;
    padding: 9px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
