.products-more__title {
    font-size: 16px;
    line-height: 20px;
    color: $special-black;
}

.products-more__subtitle {
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    color: $special-dark-grey;
}

.products-more__button {
    background-color: $basic_grey;
    color: $special-dark-grey;
    &:hover,
    &:focus {
        background-color: $basic-grey-dark;
    }
    &:active {
        color: rgba($special-dark-grey, 0.3);
    }
}
