.product {
    padding: 19px 20px 25px;
    border-bottom: 1px solid $border-grey-light;
    text-align: center;
}

.product__link {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: $special-darkest-grey;
}

.product__button {
    display: inline-block;
    width: 100%;
    padding: 7px 44px;
    box-sizing: border-box;
}
