.products__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
    padding-bottom: 63px;
  }
}

.products__title {
  position: relative;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 41px;
  border-bottom: 1px solid $border-nav-grey;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    margin-bottom: 85px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.products__list {
  @include no-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 144px;
    column-gap: 80px;
    padding-top: 80px;
  }
}

.products__item {
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid $border-nav-grey;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    margin: 0;
    border: none;
  }
}
