.products-more {
  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
    box-sizing: border-box;
  }
}

.products-more__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 23px 20px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: calc(50% - 15px);
    right: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 104px 35px 35px;
    border: none;

    &::before {
      top: 50px;
      left: calc(50% - 30px);
      right: calc(50% - 30px);
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
    }
  }
}

.products-more__title {
  margin: 0;
  margin-bottom: 9px;
  padding-top: 55px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $tablet-width) {
    max-width: 134px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.products-more__subtitle {
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Verdana", sans-serif;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    max-width: 167px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.products-more__button {
  display: inline-block;
  width: 100%;
  padding: 10px 44px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  background-color: $basic_grey;

  &:hover,
  &:focus {
    background-color: $basic-grey-dark;
  }

  &:active {
    color: rgba($special-dark-grey, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }
}
