.products__wrapper {
  @media (min-width: $tablet-width) {
    padding: 50px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 110px 63px;
    box-sizing: border-box;
  }
}

.products__title {
  margin: 0;
  padding: 27px 20px 41px;
  border-top: 1px solid $border-grey-light;
  border-bottom: 1px solid $border-grey-light;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 83px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.products__list {
  @include no-list;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 138px;
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 144px;
    column-gap: 80px;
    padding-top: 80px;
  }
}

.products__item {
  @media (min-width: $tablet-width) {
    min-height: 430px;
  }
}
