.products-more {
  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
  }
}

.products-more__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  text-align: center;
  border-bottom: 1px solid $border-grey-light;

  @media (min-width: $tablet-width) {
    padding: 140px 35px 40px;
    border: none;
  }
}

.products-more__title {
  margin: 0;
  margin-bottom: 8px;
  padding-top: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $tablet-width) {
    max-width: 134px;
    margin: auto;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.products-more__subtitle {
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Verdana", sans-serif;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    max-width: 167px;
    margin: auto;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.products-more__button {
  display: inline-block;
  width: 100%;
  padding: 7px 44px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  background-color: $basic_grey;

  &:hover,
  &:focus {
    background-color: $basic-grey-dark;
  }

  &:active {
    color: rgba($special-dark-grey, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }
}
