.programs__wrapper {
  display: grid;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
