.program-form__wrapper {
  padding-top: 27px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 83px;
  }
}

.program-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.program-form__text {
  display: inline-block;
  margin: 0;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 323px;
    padding-left: 40px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
    padding: 0;
  }
}

.program-form__form {
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    margin-left: -30px;
    margin-right: -30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
