.program {
  padding: 21px 20px 18px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 52px 55px;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 380px;
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 36px 0 0 162px;
    margin-bottom: 73px;
  }
}

.program__text {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 13px;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    max-width: 377px;
    margin-bottom: 48px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    margin-bottom: 23px;
  }
}

.program__text--pro {
  @media (min-width: $tablet-width) {
    max-width: 342px;
  }
}

.program__link {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid $border-grey;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    border: none;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}
