.program {
  padding: 21px 20px 18px;
  background-color: $basic-grey;
}

.program__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program__text {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 13px;
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

.program__link {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid $border-grey;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;

  &:active {
    opacity: 0.3;
  }
}
