.program-selection-form__button {
  display: inline-block;
  width: 100%;
  margin-bottom: 28px;
  padding: 7px 44px;
  box-sizing: border-box;
}

.program-selection-form__required {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", "Oswald", sans-serif;
  text-align: center;
}
