.promotion {
  min-height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 74px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.promotion__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 61px 58px 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 61px 90px 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 61px 40px 10px;
  }
}

.promotion__image {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.promotion__text {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Verdana", sans-serif;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 161px;
    text-align: left;
    padding-top: 11px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 0;
  }
}
