.promo {
  text-align: center;
  color: $basic-white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  @media (min-width: $tablet-width) {
    text-align: left;
    color: $basic-black;
    background-image: none;
  }
}

.promo__wrapper {
  padding: 27px 20px 4px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 50px 30px 526px 87px;
  }

  @media (min-width: $desktop-width) {
    min-height: 580px;
    padding: 68px 110px 0 190px;
  }
}

.promo__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    max-width: 414px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__product {
  @media (min-width: $tablet-width) {
    display: none;
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    z-index: 0;
    top: 0;
    left: calc(50% - 150px);
  }
}

.promo__button {
  display: inline-block;
  width: 100%;
  padding: 11px 26px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    margin-left: -4px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 2px;
    padding: 17px;
  }
}
