.promotion {
  position: relative;
  min-height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  background-color: $basic-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    right: 50%;
    left: 50%;
    width: 78px;
    height: 80px;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-top: 68px;
    margin-bottom: 74px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }
}

.promotion__text {
  display: inline-block;
  margin: 0;
  padding: 0 57px;
  padding-top: 186px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Verdana", sans-serif;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    max-width: 161px;
    float: right;
    padding: 0;
    padding-top: 71px;
    padding-right: 124px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 187px 41px 0;
    float: none;
    text-align: center;
  }
}
