.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.site-list__item {
  position: relative;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 23px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid $border-nav-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 35px;
    padding: 8px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
    padding: 4px 0;
  }
}

.site-list__item:first-child {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.site-list__item a {
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item--active {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }
}

.site-list--index {
  @media (min-width: $desktop-width) {
    & a {
      color: $basic-white;
    }

    & .site-list__item--active {
      border-color: $basic-white;
    }
  }
}
