.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.site-list__item {
  position: relative;
  display: inline-block;
  padding: 24px 20px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      bottom: 0;
      right: 50%;
      left: 50%;
      margin-right: -50vw;
      margin-left: -50vw;
      background-color: $border-nav-grey;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 34px;
    padding: 8px 0;
    border: none;
  }
}

.site-list__item:last-child {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.site-list__item a {
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item--active {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }
}

.site-list--index {
  @media (min-width: $desktop-width) {
    & a {
      color: $basic-white;
    }

    & .site-list__item--active {
      border-color: $basic-white;
    }
  }
}
