.slider {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }
}

.slider__list {
  @include no-list;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.slider__item {
  @media (max-width: $mobile-width-only) {
    display: none;
    width: 100%;
    margin-bottom: 29px;

    &--active {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 50%;
    overflow: hidden;
    margin-bottom: 15px;

    &--after {
      direction: rtl;
    }

    & img {
      display: block;
      max-width: 690px;
      width: 690px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}


.slider__range-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
  }
}

.slider__button {
  display: inline-block;
  padding: 0;
  padding-bottom: 1px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
  background-color: inherit;
  border-bottom: 1px dotted rgba($basic-black, 0.24);
  box-sizing: content-box;

  &:focus,
  &:hover {
    outline: none;
    border-bottom: 1px solid rgba($basic-black, 0.4);
  }

  &:active {
    border-color: transparent;
  }

  &--before {
    margin-left: 4px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .slider__scale {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 6px;
    width: 84px;
    height: 14px;
    background-color: $basic-white;
    border: 1px solid $input-border-hover-grey;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .slider__bar {
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 6px;
    transform: translateX(0);
    transition: 0.3s;

    &--after {
      transform: translateX(100%);
    }
  }
}

.slider__range {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    appearance: none;
    width: 428px;
    height: 6px;
    background-color: $scale-grey;
    border-radius: 6px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border: 13px solid $basic-white;
      filter: drop-shadow(0 1px 3px rgba($basic-black, 0.16));
      border-radius: 50%;
      box-sizing: content-box;
    }

    &::-webkit-slider-thumb:hover {
      filter: drop-shadow(0 2px 4px rgba($basic-black, 0.19));
    }

    &::-webkit-slider-thumb:active {
      box-shadow: 0 0 0 1px $basic-green;
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border: 13px solid $basic-white;
      filter: drop-shadow(0 1px 3px rgba($basic-black, 0.16));
      border-radius: 50%;
      box-sizing: content-box;

      &:hover {
        filter: drop-shadow(0 2px 4px rgba($basic-black, 0.19));
      }

      &:active {
        box-shadow: 0 0 0 1px $basic-green;
      }
    }
  }
}
