.social {
  display: block;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 140px;
    max-width: auto;
    margin-top: -5px;
  }
}

.social__list {
  @include no-list;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 18px 0;
  margin: 0 auto;
}

.social__item {
  display: block;
  margin-right: 36px;
  padding: 5px 0;

  &:first-child {
    margin-left: -11px;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 28px;

    &:first-child {
      margin-left: 13px;
    }
  }
}

.social__link {
  display: flex;
  align-items: center;

  & svg {
    fill: $icon-grey;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.3;
  }

  &--vkontakte svg {
    width: 23px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram svg {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook svg {
    width: 10px;
    height: 18px;

    @media (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }
  }
}
