$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-grey: #F2F2F2;
$basic-grey-dark: #EBEBEB;
$basic-green:#68B738;
$basic-green-dark: #5EAA2F;
$special-dark-grey: #444444;
$special-darkest-grey: #222222;
$special-black: #111111;
$border-grey: #D9D9D9;
$border-grey-light: #EBEBEB;
$background-grey: #EAEAEA;
