/*COLORS*/
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #f2f2f2;
$basic-grey-dark: #ebebeb;
$basic-green:#68b738;
$basic-green-dark: #5eaa2f;
$special-dark-grey: #444444;
$special-darkest-grey: #222222;
$special-black: #111111;
$border-grey: #d9d9d9;
$border-grey-light: #ebebeb;
$background-grey: #eaeaea;
$input-border-grey: #e7e7e7;
$input-border-hover-grey: #cdcdcd;
$border-fieldset-grey:#d9d9d9;
$input-valid: #ff8282;
$border-nav-grey: #e6e6e6;
/*VIEWPORTS*/
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
