$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #f2f2f2;
$basic-grey-dark: #ebebeb;
$basic-green:#68b738;
$basic-green-dark: #5eaa2f;
$special-dark-grey: #444444;
$special-darkest-grey: #222222;
$special-black: #111111;
$border-grey: #d9d9d9;
$border-grey-light: #ebebeb;
$background-grey: #eaeaea;
