/*GLOBAL*/
@import "~normalize.css/normalize";
@import "global/variables.scss";
@import "global/mixin.scss";
@import "global/fonts.scss";
@import "global/global.scss";
/*GENERAL BLOCKS*/
/*--page*/
@import "blocks/container.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/page-footer.scss";
/*--components*/
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/contacts.scss";
@import "blocks/address.scss";
@import "blocks/copyright.scss";
@import "blocks/social.scss";
@import "blocks/button.scss";
/*INDEX*/
@import "blocks/promo.scss";
@import "blocks/programs.scss";
@import "blocks/program.scss";
@import "blocks/instruction.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";
/*CATALOG*/
@import "blocks/products.scss";
@import "blocks/product.scss";
@import "blocks/characteristics.scss";
@import "blocks/products-more.scss";
@import "blocks/additional-products.scss";
@import "blocks/additional-product.scss";
@import "blocks/price.scss";
@import "blocks/promotion.scss";
/*FORM*/
@import "blocks/program-form.scss";
@import "blocks/form-program.scss";
@import "blocks/fieldset.scss";
