@import "global/variables.scss";
@import "global/mixin.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/address.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/copyright.scss";
@import "blocks/social.scss";
@import "blocks/button.scss";
@import "blocks/promo.scss";
@import "blocks/programs.scss";
@import "blocks/program.scss";
@import "blocks/instruction.scss";
@import "blocks/exaple.scss";
@import "blocks/slider.scss";
@import "blocks/products.scss";
@import "blocks/product.scss";
@import "blocks/characteristics.scss";
@import "blocks/products-more.scss";
@import "blocks/additional-products.scss";
@import "blocks/additional-product.scss";
@import "blocks/price.scss";
@import "blocks/promotion.scss";
@import "blocks/program-selection.scss";
@import "blocks/program-selection-form.scss";
@import "blocks/fieldset-row.scss";
@import "blocks/fieldset-radio.scss";
@import "blocks/fieldset-textarea.scss";
@import "blocks/fieldset-checkbox.scss";
